@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --text-2xs: 0.625rem;
  --color-text: var(--text);
  --color-subtext: var(--subtext);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-spin: spin 1.5s linear infinite;
}

:root {
  --radius: 0.625rem;
  --text: var(--foreground);
  --subtext: var(--mid);
  --background: oklch(1 0 0);
  --background-900: oklch(0.95 0 0);
  --background-800: oklch(0.967 0.001 286.375);
  --foreground: oklch(0 0 0);
  --foreground-900: oklch(0.141 0.005 285.823);
  --foreground-800: oklch(0.21 0.006 285.885);
  --mid: oklch(0.552 0.016 285.938);
  --mid2: oklch(0.705 0.015 286.067);
  --main: oklch(0.488 0.243 264.376);
  --error: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);

  --card: var(--background);
  --card-foreground: var(--foreground-900);
  --popover: var(--background);
  --popover-foreground: var(--foreground-900);
  --primary: var(--foreground-800);
  --primary-foreground: var(--background-900);
  --secondary: var(--background-800);
  --secondary-foreground: var(--foreground-800);
  --muted: var(--background-800);
  --muted-foreground: var(--mid);
  --accent: var(--background-800);
  --accent-foreground: var(--foreground-800);
  --destructive: var(--error);
  --ring: var(--mid2);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground-900);
  --sidebar-primary: var(--foreground-800);
  --sidebar-primary-foreground: var(--background-900);
  --sidebar-accent: var(--background-800);
  --sidebar-accent-foreground: var(--foreground-800);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--mid2);
}

.dark {
  --text: var(--foreground);
  --subtext: var(--mid);
  --background: oklch(0 0 0);
  --background-900: oklch(0.21 0.006 285.885);
  --background-800: oklch(0.274 0.006 286.033);
  --foreground: oklch(1 0 0);
  --foreground-900: oklch(0.985 0 0);
  --foreground-800: oklch(0.92 0.004 286.32);
  --mid: oklch(0.705 0.015 286.067);
  --mid2: oklch(0.552 0.016 285.938);
  --main: oklch(0.488 0.243 264.376);
  --error: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);

  --card: var(--background-900);
  --card-foreground: var(--foreground-900);
  --popover: var(--background-900);
  --popover-foreground: var(--foreground-900);
  --primary: var(--foreground-800);
  --primary-foreground: var(--background-900);
  --secondary: var(--background-800);
  --secondary-foreground: var(--foreground-900);
  --muted: var(--background-800);
  --muted-foreground: var(--mid);
  --accent: var(--background-800);
  --accent-foreground: var(--foreground-900);
  --destructive: var(--error);
  --ring: var(--mid2);
  --chart-1: var(--main);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground-900);
  --sidebar-primary: var(--main);
  --sidebar-primary-foreground: var(--background-900);
  --sidebar-accent: var(--background-900);
  --sidebar-accent-foreground: var(--foreground-900);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--mid2);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
}

.container-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1350px;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.wiggle {
  transform: rotate(0deg);
  transition: transform 0.15s ease-in-out;
}

.wiggle:hover {
  transform: rotate(90deg);
}

html.dark [data-hide-on-theme="dark"],
html:not(.dark) [data-hide-on-theme="light"] {
  display: none;
}

svg {
  margin: 0 !important;
  padding: 0 !important;
}
